In [1]:
from bow import BagofWords

In [2]:
t1 = "I love NLP" 
t2 = "NLP is amazing"
t3 = "This is why nlp is my research interest"
texts = [t1,t2,t3]

In [3]:
bag = BagofWords()

In [4]:
bag.matrix

False

In [5]:
bag_of_words = bag.bow(texts)

In [6]:
from tfidf import TFIDF

In [7]:
ti = TFIDF()

ti.get_words(bag_of_words)

Matrix Created!!!

In [8]:
tfidf = ti.tf_idf()
tfidf

word and doc :  i doc0
word and doc :  i doc1
word and doc :  i doc2
word and doc :  love doc0
word and doc :  love doc1
word and doc :  love doc2
word and doc :  nlp doc0
word and doc :  nlp doc1
word and doc :  nlp doc2
word and doc :  is doc0
word and doc :  is doc1
word and doc :  is doc2
word and doc :  amazing doc0
word and doc :  amazing doc1
word and doc :  amazing doc2
word and doc :  this doc0
word and doc :  this doc1
word and doc :  this doc2
word and doc :  why doc0
word and doc :  why doc1
word and doc :  why doc2
word and doc :  my doc0
word and doc :  my doc1
word and doc :  my doc2
word and doc :  research doc0
word and doc :  research doc1
word and doc :  research doc2
word and doc :  interest doc0
word and doc :  interest doc1
word and doc :  interest doc2

{'index': ['i',
  'love',
  'nlp',
  'is',
  'amazing',
  'this',
  'why',
  'my',
  'research',
  'interest'],
 'doc0': [0.3662040962227032,
  0.4642931226523877,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 'doc1': [0.0,
  0.0,
  0.13515503603605478,
  0.18989960975429496,
  0.8291071558130534,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 'doc2': [0.0,
  0.0,
  0.05068313851352055,
  0.11501441779261341,
  0.0,
  0.2126745278238281,
  0.2509179821994087,
  0.3027072150722953,
  0.37469758094144917,
  0.4762711820288842]}

In [9]:
df = ti.to_df()
df

      index      doc0      doc1      doc2
0         i  0.366204  0.000000  0.000000
1      love  0.464293  0.000000  0.000000
2       nlp  0.000000  0.135155  0.050683
3        is  0.000000  0.189900  0.115014
4   amazing  0.000000  0.829107  0.000000
5      this  0.000000  0.000000  0.212675
6       why  0.000000  0.000000  0.250918
7        my  0.000000  0.000000  0.302707
8  research  0.000000  0.000000  0.374698
9  interest  0.000000  0.000000  0.476271