In [1]:
from bow import BagofWords

In [2]:
t1 = "I love NLP" 
t2 = "NLP is amazing"
t3 = "This is why nlp is my research interest"
texts = [t1,t2,t3]

In [3]:
bag = BagofWords()

In [4]:
bag.bow(texts)

In [5]:
df = bag.to_df()
df

      index  doc0  doc1  doc2
0         i     1     0     0
1      love     1     0     0
2       nlp     1     1     1
3        is     0     1     2
4   amazing     0     1     0
5      this     0     0     1
6       why     0     0     1
7        my     0     0     1
8  research     0     0     1
9  interest     0     0     1